$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-bold: 700;


$color-primary: #7d5fff;
$color-secondary: #EB0099;
$color-black: #000;
$color-white: #fff;


$color-grey-dark-1: #555;
$color-grey-dark-2: #414a4f;

$color-grey-light: #f7f7f7;

$font-primary: 'Open Sans';
$font-secondary: 'Quicksand';

$default-font: 1.6rem;