/* MEDIA QUERIES

0 - 600px:      Phones
601px-900px:    Tablet Portrait
901px-1200px:   Tablet landscape
1201px-1800px:  Normal styles
1801px+         Big desktops

$breakpoint arguments:
- phone
- tab-port
- tab-land
- big-desktop


ORDER OF WORK: Base + Typography > general layout + grid > page layout > components
*/
@keyframes showUp {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translate(-50%, -30%); }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%); } }

body {
  box-sizing: border-box; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }

a:link,
a:visited {
  text-decoration: none;
  opacity: 0.75;
  transition: opacity 0.3s;
  color: inherit; }

a:hover {
  opacity: 1; }

body {
  font-family: "Open Sans";
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.7;
  color: #555;
  text-align: center; }

.heading-primary {
  color: #fff; }
  .heading-primary--main {
    text-transform: uppercase;
    font-size: 5rem;
    letter-spacing: 2px;
    white-space: nowrap; }
    @media (max-width: 37.5em) {
      .heading-primary--main {
        font-size: 3.5rem;
        white-space: inherit;
        line-height: 1; } }
  .heading-primary--sub {
    font-weight: 300;
    letter-spacing: 0;
    display: block; }
    @media (max-width: 37.5em) {
      .heading-primary--sub {
        font-size: 2rem;
        margin-top: 2rem; } }

.heading-secondary {
  color: #555;
  font-size: 3.2rem;
  font-weight: 700; }

.heading-description {
  max-width: 70%;
  margin: 0 auto; }
  @media (max-width: 37.5em) {
    .heading-description {
      font-size: 1.4rem;
      line-height: 1.5; } }

.paragraph {
  line-height: 2.2; }
  .paragraph--italic {
    font-style: italic; }

.heading-line {
  display: block;
  border: none;
  border-top: 2px solid #7d5fff;
  width: 15%;
  margin: 4rem auto 6rem auto; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }

.u-margin-bottom-small {
  margin-bottom: 2rem; }

.u-pull-left {
  text-align: left !important; }

.u-pull-right {
  text-align: right !important; }

.btn, .btn:link, .btn:visited {
  padding: 1.5rem 4rem;
  border: none;
  cursor: pointer;
  border-radius: 3px;
  font-size: 1.6rem;
  text-transform: uppercase;
  opacity: 1; }

.btn--primary, .btn--primary:link, .btn--primary:visited {
  background-color: #7d5fff;
  color: #fff;
  font-weight: 500; }

.btn--primary:hover, .btn--primary:focus {
  background-color: #896eff; }

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-start; }
  @media (max-width: 56.25em) {
    .gallery {
      min-height: none; } }
  .gallery__image {
    height: 35rem;
    background-position: center center;
    background-size: cover;
    padding: 2rem;
    background-clip: content-box; }
    .gallery__image--short {
      flex-basis: 30%; }
      @media (max-width: 56.25em) {
        .gallery__image--short {
          flex-basis: 100%; } }
    .gallery__image--long {
      flex-basis: 70%; }
      @media (max-width: 56.25em) {
        .gallery__image--long {
          flex-basis: 100%; } }

.feature {
  flex-basis: 33%;
  background-clip: content-box;
  padding: 0 2.5%; }
  @media (max-width: 37.5em) {
    .feature {
      flex-basis: 80%; }
      .feature:not(:last-child) {
        margin-bottom: 2rem; } }
  .feature:first-child {
    padding-left: 0;
    padding-right: 5%; }
  .feature:last-child {
    padding-right: 0;
    padding-left: 5%; }
  .feature__icon {
    font-size: 6rem;
    text-align: center;
    position: relative;
    color: #7d5fff; }
    .feature__icon::before {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
  .feature__title {
    margin-bottom: 2rem;
    font-weight: 700; }

.form {
  display: flex;
  justify-content: center; }
  @media (max-width: 37.5em) {
    .form {
      flex-direction: column;
      width: 100%; } }
  .form__group {
    display: inline-block;
    margin-right: 3rem; }
    .form__group:first-child {
      width: 30%; }
    @media (max-width: 75em) {
      .form__group:not(:first-child) {
        margin-top: 1rem;
        margin-right: 0; } }
    @media (max-width: 37.5em) {
      .form__group {
        width: 100%; } }
  .form__input {
    width: 100%;
    padding: 1.5rem 2rem;
    border-radius: 2px;
    border: none;
    font-size: 1.6rem;
    font-family: inherit;
    color: inherit;
    border-bottom: 3px solid transparent;
    transition: border-bottom 0.5s; }
    @media (max-width: 56.25em) {
      .form__input {
        width: 100%; } }
    .form__input:focus {
      outline: none;
      border-bottom: 3px solid #7d5fff;
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1); }
      .form__input:focus:invalid {
        border-bottom: 3px solid orangered; }
    .form__input::-webkit-input-placeholder {
      color: #555; }
  .form__label {
    display: block;
    text-align: left;
    margin: 0 auto 0.5rem 2rem;
    font-size: 1.3rem;
    font-weight: 700;
    transition: all 0.3s;
    transform: translateY(-8rem); }
    .form__label--blue {
      color: #7d5fff; }
  .form__input:placeholder-shown + .form__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem); }

#mc-embedded-subscribe-form {
  background-color: #f7f7f7;
  transform: scale(1.5); }
  #mc-embedded-subscribe-form.validate {
    background-color: #f7f7f7; }
  @media (max-width: 37.5em) {
    #mc-embedded-subscribe-form {
      transform: scale(0.8); } }

#mc_embed_signup {
  background-color: #f7f7f7; }

input.button {
  background-color: #7d5fff !important;
  border-radius: 3px !important; }

.container {
  width: 90%;
  margin: 0 auto; }

.header {
  height: 100vh;
  background: url("../img/hero-min.jpg"), rgba(125, 95, 255, 0.5);
  background-blend-mode: multiply;
  background-position: center center;
  background-size: cover; }
  .header__navigation {
    display: flex;
    justify-content: space-between;
    padding: 2rem 0;
    animation: showUp 0.6s 0.7s ease-out backwards; }
    @media (max-width: 37.5em) {
      .header__navigation {
        flex-direction: column;
        align-items: center; } }
  @media (max-width: 37.5em) {
    .header__logo {
      margin-bottom: 1rem; } }
  .header__logo-link:link, .header__logo-link:visited {
    color: #fff;
    font-family: "Quicksand"; }
  .header__list {
    list-style: none;
    display: flex; }
  .header__list-item:not(:last-child) {
    margin-right: 2rem; }
  .header__link:link, .header__link:visited {
    color: #fff; }
  .header__text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    animation: slideUp 0.8s 1.3s ease-in-out backwards; }

.footer {
  background-color: #414a4f;
  color: #fff;
  padding: 3rem 0; }
  .footer__social-buttons {
    margin-bottom: 1rem; }
  .footer__social-link:link, .footer__social-link:visited {
    font-size: 3rem;
    color: #fff;
    margin: 0 0.5rem; }

section {
  padding: 6rem 0; }

.feature-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  @media (max-width: 37.5em) {
    .feature-box {
      justify-content: center;
      align-content: space-around; } }

.section-subscribe {
  background-color: #f7f7f7; }

.section-testimonials {
  padding: 6rem 30rem; }
  @media (max-width: 56.25em) {
    .section-testimonials {
      padding: 6rem 5rem; } }
  @media (max-width: 37.5em) {
    .section-testimonials {
      padding: 6rem 0; } }
